body{
  background-color: #333;
  color:#eee;
  font-family: 'Love Ya Like A Sister', sans-serif;
}

.heading{
  font-size: 2.5em;
  text-align: center;
  margin: 20px auto;
}

.container{
  width:360px;
  margin:50px auto;
  background-color: #666;
  border-radius: 20px;
}

.tictactoe{
  font-size: 0;
  text-align: center;
  padding: 30px 0;
  display: none;
}

.chance{
  text-align: center;
  font-size: 1.5em;
  padding: 15px;
  margin: 15px;
  font-size: 30px;
}

.rw1,
.row2,
.row3{

}

.col1,
.col2,
.col3{
  display:inline-block;
  height:100px;
  width:100px;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
  clear: both;
  font-size: 60px;
  border-width: 0;
  border-color: white;
  border-style: solid;
  /*Redundant cursors*/
  cursor: default;
  cursor: pointer;
}

.col2{
  border-right-width: 1px;
  border-left-width: 1px;
}

.row2 .col1,
.row2 .col2,
.row2 .col3{
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.chooseWeapon,
.gamePlay{
  text-align: center;
  padding: 30px 0;
  display: none;
}

.weaponText,
.gameplayText{
  font-size: 1.3em;
  margin: 10px;
  padding: 10px;
}

.singleplayer,
.doubleplayer,
.weaponX,
.weaponO{
  display: inline-block;
  margin: 15px;
  padding: 15px;
  background-color: #333;
  border-radius: 30px;
  font-size: 1.5em;
  border : solid 1px transparent;
}

.singleplayer:hover,
.doubleplayer:hover,
.weaponX:hover,
.weaponO:hover{
  background-color: #006400;
  transition-duration: 0.5s;
  border: solid 1px #999;
  /*Redundant cursors*/
  cursor: default;
  cursor: pointer;
}
